NODE_ENV=production
PORT=3000

# Email Configuration (أضف بيانات الإيميل الخاص بك)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Domain configuration
NEXTAUTH_URL=https://bello-food.com
